<style>
    .esquerda {
        width: 100px;
    }

    .direita {
        width: 100px;
        margin-left: auto;
    }

    .ng-select__scroll {
        position: relative;
        margin: 20px 0;
        border: 1px solid #333;
        height: 300px;
        overflow-y: auto;
    }

    .ng-select__scroll .ng-select__scroll {
        background-color: #696969;
        z-index: 1000;
    }

    .container__scroll {
        height: 500px;
    }
</style>
<h2>Testes relativos a senior</h2>
<div class="esquerda">
    <ng-select bindLabel="nome" bindValue="id" [items]="cars" appendTo="body"></ng-select>
</div>
<div class="direita">
    <ng-select bindLabel="nome" bindValue="id" [items]="cars" appendTo="body"></ng-select>
</div>

<h2>Testes relativos a elementos que possuem scroll</h2>
<div class="ng-select__scroll">
    <div class="container__scroll">
        <ng-select bindLabel="nome" bindValue="id" [items]="cars" appendTo=".ng-select__scroll" appendToDirection="up"></ng-select>
    </div>

    <div class="ng-select__scroll">
        <div class="container__scroll">
            <ng-select bindLabel="nome" bindValue="id" [items]="cars" appendTo=".ng-select__scroll" appendToDirection="up"></ng-select>
        </div>
    </div>
</div>
<div class="ng-select__scroll">
    <ng-select bindLabel="nome" bindValue="id" [items]="cars" appendTo=".ng-select__scroll" appendToDirection="up"></ng-select>
</div>

<ng-select bindLabel="nome" bindValue="id" [items]="cars"></ng-select>

